.cardAnalitycs {
  display: grid;
  width: 100%;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.conteinerCardAnalitycs {
  width: 95%;
  height: 90%;
  margin-top: 40px;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
}

.titleAnalitycs {
  margin-left: 20px;
  margin-bottom: 0;
}

/* 
                                 <---------------- Tablet ---------------->
*/
@media only screen and (min-width: 541px) and (max-width: 768px) {
  .cardAnalitycs {
    display: block;
    width: 100%;
  }

  .chartAnalitycs{
    height: 400px;
  }
  
  .conteinerCardAnalitycs {
    width: 95%;
    height: 90%;
    margin-top: 40px;
    border: 1px solid #3b3b3b;
    border-radius: 10px;
  }
  
  .titleAnalitycs {
    margin-left: 20px;
    margin-bottom: 0;
  }
}


/* 
                                 <---------------- Mobile ---------------->
*/

@media only screen and (max-width: 541px) {
  .cardAnalitycs {
    display: block;
    width: 100%;
  }

  .chartAnalitycs{
    height: 400px;
  }
  
  .conteinerCardAnalitycs {
    width: 95%;
    height: 90%;
    margin-top: 40px;
    border: 1px solid #3b3b3b;
    border-radius: 10px;
  }
  
  .titleAnalitycs {
    margin-left: 20px;
    margin-bottom: 0;
  }
  
}