@media only screen and (max-width: 1920px) {
    .homeHeaderNav {
        width: 99%;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.09); 
        backdrop-filter: blur(10px); 
        position: fixed; 
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateY(-100px);
        animation: slideIn 1.5s forwards;
        z-index: 9999;
    }

  @keyframes slideIn {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .homeHeaderNav ul {
    display: flex;
    gap: 2rem;
  }

  .headerRightComps {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
  }

  ul {
    list-style: none;
  }

  .Aheader {
    font-weight: bold;
    text-decoration: none;
    color: #adadad;
    font-size: 18px;
    transition: color 1s;
  }

  .Aheader:hover {
    cursor: pointer;
    color: #fff;
  }

  .signUpHomeButton {
    display: flex;
    color: #adadad;
    display: inline-flex;
    border: 1px solid #adadad;
    border-radius: 5px;
    padding: 3px;
    transition: border 1s;
  }

  .signUpHomeButton:hover {
    border: 1px solid #fff;
  }

  .signInHomeButton {
    margin-top: 3px;
  }

  .discoveryComp ul li {
    color: #000;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    transition: color 0.5s;
  }

  .discoveryComp ul li:hover {
    color: #0076e2;
  }
}

/* 
                                 <---------------- Tablet ---------------->
*/

@media only screen and (min-width: 541px) and (max-width: 768px) {

  .homeHeaderNav ul {
    display: flex;
    gap: 0.5rem;  /*Modified*/
  }

  .Aheader {
    font-weight: bold;
    text-decoration: none;
    color: #adadad;
    font-size: 15px;  /*Modified*/
    transition: color 1s;
  }

  .signUpHomeButton {
    display: flex;
    color: #adadad;
    border: 1px solid #adadad;
    border-radius: 5px;
    /*padding: 3px; Modified*/
    transition: border 1s;
  }

  .signInHomeButton {
    margin-top: 0; /*Modified*/
  }

.discoveryComp ul li {
    color: #000;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 15px; /*Modified*/ 
    transition: color 0.5s;
  }

  .discoveryCompUl { /*Modified*/
    padding-left: 10px;
  }
}

/* 
                                 <---------------- Mobile ---------------->
*/

@media only screen and (max-width: 541px) {

  .headerRightComps {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px; /*Modified*/
  }


  .Aheader {
    font-weight: bold;
    text-decoration: none;
    color: #adadad;
    font-size: 8px; /*Modified*/
    transition: color 1s;
  }

  .signUpHomeButton {
    display: flex;
    color: #adadad;
    border: 1px solid #adadad;
    border-radius: 5px;
    /*padding: 3px; Modified*/
    transition: border 1s;
  }

  .signInHomeButton {
    margin-top: -3px; /*Modified*/
  }

  .discoveryComp ul li {
    color: #000;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 8px; /*Modified*/
    transition: color 0.5s;
  }
  
  .discoveryCompUl { /*Modified*/
    padding-left: 10px;
  }
}