.homeHeaderNav{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    transform: translateY(-100px);
    animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.homeHeaderNav ul {
    display: flex;
    gap: 2rem; 
    font-size: 19px;
}

.headerRightComps {
    margin-right: 50px;
}

.labelItem{
    display: flex;
    position: relative;
}

.searchInput{
    padding-left: 35px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #fff;
    width: 14rem;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    outline: none;
    opacity: 0.3;
}

.searchInput::placeholder {
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.searchIcon {
    position: absolute;
    left: 12px;
    top: 8px;
    width: 16px;
    height: 16px;
}

ul{
    list-style: none;
}
.Aheader{
    font-weight: bold;
    text-decoration: none;
    color: #adadad;
    font-size: 18px;
}
.Aheader:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    transition: 1s;
}

.signUpHomeButton {
    display: flex;
    color: #adadad;
    border: 1px solid #adadad;
    border-radius: 5px;
    padding: 3px;
}

.signUpHomeButton:hover {
    transition: 1s;
    border: 1px solid #ffffff;
}   

.signInHomeButton {
    margin-top: 3px;
}

.discoveryComp ul li {
    color: #000000;
    font-weight: bold;  
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.discoveryComp ul li:hover {
    transition: 0.5s;
    color: #0076E2;
}
