.footerComp {
  background-color: #232f3e;
  color: #ffffff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerList {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3% ;
  flex-wrap: wrap;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.footerList .contactLi,
.footerList .helpLi,
.footerList .followUsLi {
  display: inline;
  text-align: center;
  align-items: center;
  padding: 0 50px 0px;
  margin-bottom: 20px;
}

.helpLi,
.followUsLi {
  flex-grow: 1;
  text-align: left;
}

.footerList h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ffffff;
}

.footerList ul {
  list-style-type: none;
  padding: 0;
}

.footerList ul li {
  margin-bottom: 5px;
}

.footerList ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footerList ul li a:hover {
  text-decoration: underline;
}

.footerCopyright {
  font-size: 13px;
  margin-top: 20px;
}

.footerCopyright .copyright {
  color: #c0c0c0;
  text-decoration: none;
}

.footerCopyright .copyright:hover {
  text-decoration: underline;
}

/* 
                                 <---------------- Tablet ---------------->
*/

@media only screen and (min-width: 541px) and (max-width: 768px) {
  .footerList .contactLi,
  .footerList .helpLi,
  .footerList .followUsLi {
    padding: 0 20px 0px;
  }

  .helpLi,
  .followUsLi,
  .contactLi {
    flex-grow: 1;
    text-align: center;
  }

  .footerList h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
  }
}

/* 
                                 <---------------- Mobile ---------------->
*/

@media only screen and (max-width: 541px) {
  .footerList .contactLi,
  .footerList .helpLi,
  .footerList .followUsLi {
    padding: 0 10px 0px;
  }

  .helpLi,
  .followUsLi,
  .contactLi {
    flex-grow: 1;
    text-align: center;
  }

  .footerList h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .footerList ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
  }
  .footerCopyright {
    font-size: 10px;
  }
}
