.welcomeComp {
    width: 25%;
    height: 400px;
    margin-left: 5%;
    background: linear-gradient(180deg, rgba(0,118,226,1) 0%, rgba(0,65,124,1) 100%);
    padding: 20px;
    transform: translateX(200px);
    animation: slideIn 1.8s forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.text{
    width: 100%;
    max-height: 50%;    
    overflow: hidden;
}

.textContent {
    font-weight: bold;
    color: #ffff;
    text-align: left;
}

.loginComp {
    width: 25%;
    height: 400px;
    margin-right: 5%;
    background-color: whitesmoke;
    border: 1px solid rgba(129, 129, 129, 0.377);
    box-shadow: Vertical offset 19px;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    -webkit-box-shadow: inset 0px 7px 13px 0px rgba(94, 94, 94, 0.377);
    -moz-box-shadow: inset 0px 7px 13px 0px rgba(94, 94, 94, 0.377);
    box-shadow: inset 0px 7px 13px 0px rgba(94, 94, 94, 0.377);
    transform: translateX(-100px);
    animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.signInContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.global {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcomeTitle {
    text-align: center;
    color: #ffff;
}

.loginTitle {
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.inputSignIn {
    display: grid;
    width: 100%;
    height: 25%;
    border-radius: 20px;
}

.eMailInput {
    border: 1px solid #5e5d5d7e;
    margin-left: 20%;
    width: 60%;
    outline: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.passwordInput { 
    border: 1px solid #5e5d5d7e;
    margin-left: 20%;
    width: 60%;
    outline: none;
    border-radius: 5px;
}

.signButton {
    border-radius: 20px;
    border: 2px solid #ffff;
    text-decoration: none;
    font-weight: bold;
    color: #ffff;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 8%;
}

.signButton:hover {
    background-color: #ffffff;
    color: #0076E2;
    transition: 0.5 s;
}

.upSignButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}


.signUpButton {
    display: flex;
    width: 150px;
    text-decoration: none;
    font-weight: bold;
    color: #ffff;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffff;
    border-radius: 20px;
    padding: 10px;
}

.signUpButton:hover {
    transition: 0.5s;
    color: #0076E2;
    background-color: #ffffff;
}

.signUpButtonComp{
    display: flex;
    margin-top: 40%;
    align-items: center;
    justify-content: center;
}

.singInButton{
    display: flex;
    width: 150px;
    text-decoration: none;
    font-weight: bold;
    color: #0076E2;
    justify-content: center;
    align-items: center;
    border: 2px solid #0076E2;
    border-radius: 20px;
    padding: 10px;
}

.singInButton:hover {
    transition: 0.5s;
    color: #fff;
    background-color: #0076E2;
}

.signInButtonComp{
    display: flex;
    margin-top: 20%;
    justify-content: center;
    align-items: center;
}

.iconsLogin ul{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    font-size: 35px;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.iconsLogin ul li:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.linkedinIcon {
    color: #0076E2;
}

.signInBackButtonComp{
    position: absolute;
    width: 140px;
    top: 20px;
    left: 20px;
}

.signInBackButton{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: #0076E2;
    font-size: 18px;
}

.arrowBack{
    color: #0076E2;
    margin-right: 8%;
    height: auto;
    width: 25px;
}

.bookMarkIcon {
    display: flex;
    margin-top: -25px;
    color: #d8d8d8;
    font-size: 30px;
}

/* 
                                 <---------------- Tablet ---------------->
*/

@media only screen
and (min-width: 541px)
and (max-width: 768px)

 {
