.spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




                                            /*-----------Dark Theme-----------*/

:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #1d2033;
  --text-color-dark: #ffffff;
  --backgrond-color-dark-sidebar: #6e6d6d;
}

body.light {
  background-color: var(--background-color-light);
  transition: background-color 1s;
  color: var(--text-color-light);
}

body.dark {
  background-color: var(--background-color-dark);
  transition: background-color 1s;
  color: var(--text-color-dark);
}




/*-Sidebar Dark Theme-*/

.sidebar.dark {
  background-color: var(--backgrond-color-dark-sidebar);
  transition: left 0.3s ease;
  color: var(--text-color-dark);
}

.logout.dark {
  color: var(--text-color-dark);
  transition: background-color 1s;
}

.bell.dark{
  color: var(--text-color-dark);
  transition: background-color 1s;
}

.folder.dark{
  color: var(--text-color-dark);
  transition: background-color 1s;
}

.config.dark{
  color: var(--text-color-dark);
  transition: background-color 1s;
}

/*-New Project Screen Dark Theme-*/

.titleProject.dark{
  color: var(--text-color-dark);
  transition: background-color 1s;
}

.joinProjectCard.dark{
  border-color: #73b2ed;
}

.joinProjectCard.dark .cardButtonJoin{
  background-color: #73b2ed;
}

.joinProjectCard.dark .cardButtonJoin:hover{
  background-color: transparent;
  border-color: #73b2ed;
  color: #73b2ed;
}

.createProjectCard.dark{
  border-color: #45aa56;
}

.createProjectCard.dark .cardButtonCreate{
  background-color: #45aa56;
}

.createProjectCard.dark .cardButtonCreate:hover{
  background-color: transparent;
  border-color: #45aa56;
  color: #45aa56;
}

.joinProjectCard.dark p {
  color: var(--text-color-dark);
}

.createProjectCard.dark p{
  color: var(--text-color-dark);
}

/*-Card Analitycs Dark Theme-*/

.chartAnalitycs.dark{
  transition: background-color 1s;
}

.titleAnalitycs.dark{
  color: var(--text-color-dark);
  transition: background-color 1s;
}

.conteinerCardAnalitycs.dark{
  border-color: #ffffff;
}

.subtitle.dark{
  color: var(--text-color-dark);
  transition: background-color 1s;
}
