.modal-background-process {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-process {
    display: flex;
    background-color: #f9f9f9;
    padding-left: 20px;
    border: 2px solid #939393;
    border-radius: 8px;
    width: 500px;
    height: 400px;
    position: relative;
  }

  .lineVertical{
    width: 25px;
    height: 100%;
    background-color: rgb(255, 215, 0);
  }

  .modal-Content{
    padding: 20px;
    width: 100%;
  }

  .modalDivision{
    width: 0.5px;
    margin: 15px;
  }

  .modalContentLeft{
    width: 40%;
    margin-left: 20px
  }

  .modalContentRight{
    align-items: center;
  }

  .horizontalDivision {
    width: 100%;
  }

  .upRight{
    display: block;
    align-content: end;
    height: 300px;
  }

.dateTaks{
  margin-bottom: 100px;
}

  .downRight{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  .MoveTaskBtn{
    display: inline-flex;
    align-items: center;
    background-color: rgb(250, 250, 188);
    border: 2px solid rgb(255, 215, 0);
    color: rgb(212, 175, 7);
    font-weight: bold;
    border-radius: 20px;
    padding: 9px;
  }

  .MoveTaskBtn:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(248, 237, 79, 0.904);
    color: rgb(117, 96, 0);
  }

  .DeleteTaskBtn{
    display: inline-flex;
    align-items: center;
    background-color: rgb(255, 142, 142);
    border: 2px solid rgb(255, 34, 34);
    color: rgb(253, 54, 54);
    font-weight: bold;
    margin-right: 5px;
    border-radius: 20px;
    padding: 9px;
  }

  .DeleteTaskBtn:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(255, 34, 34);
    color: rgb(247, 167, 167);
  }

  .EditTaskBtn{
    display: inline-flex;
    align-items: center;
    color: rgb(184, 172, 11);
    font-weight: bold;
    border: none;
    background-color: transparent;
  }

  .EditTaskBtn:hover{
    cursor: pointer;
    color: rgb(102, 98, 38);
  }

  .arrowTaskIcon, .pencilTaskIcon, .deleteTaskIcon {
    margin-left: 2px;
  }