@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@552&display=swap");

.logo {
  display: flex;
  font-size: 30px;
  margin-right: 5%;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 552;
  font-style: normal;
}

.four-header {
  color: #8cc5fa;
}

.solve-header, .u-header {
  font-weight: bold;
  color: #fff;
}

.navbar {
  align-items: end;
  justify-content: end;
  display: flex;
  transition: background-color 0.3s ease;
}

.navbar.dark {
  background-color: #1d2033; 
}


.navbar.light {
  background-color: #3052eb;
  color: #000;
}

@media only screen and (min-width: 541px) and (max-width: 768px) {
  .logo {
    font-size: 30px;
  }
}

@media only screen and (max-width: 541px) {
  .logo {
    font-size: 25px;
    margin-left: 40%;
  }
}
