@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@552&display=swap");

.logo {
  display: flex;
  font-size: 30px;
  color: #fff;
  margin-left: 90%;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 552;
  font-style: normal;
}

.four {
  color: #8cc5fa;
}

.navbar {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(48, 82, 235);
}

/* 
                                 <---------------- Tablet ---------------->
*/
@media only screen and (min-width: 541px) and (max-width: 768px) {
  .logo {
    display: flex;
    font-size: 30px;
    color: #fff;
    margin-left: 80%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 552;
    font-style: normal;
  }
}


/* 
                                 <---------------- Mobile ---------------->
*/


@media only screen and (max-width: 541px) {
  .logo {
    display: flex;
    font-size: 30px;
    color: #fff;
    margin-left: 70%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 552;
    font-style: normal;
  }
}
