@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@552&display=swap");

.logo {
  display: flex;
  font-size: 30px;
  margin-right: 5%;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 552;
  font-style: normal;
}

.four {
  color: #8cc5fa;
}

.navbar {
  align-items: end;
  justify-content: end;
  display: flex;
  background-color: rgb(48, 82, 235);
}

/* 
                                 <---------------- Tablet ---------------->
*/
@media only screen and (min-width: 541px) and (max-width: 768px) {
  .logo {
    display: flex;
    font-size: 30px;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 552;
    font-style: normal;
  }
}

/* 
                                 <---------------- Mobile ---------------->
*/


@media only screen and (max-width: 541px) {
  .logo {
    display: flex;
    font-size: 25px;
    color: #fff;
    margin-left: 40%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 552;
    font-style: normal;
  }
}
