.card-comp{
    width: 90%;
    padding: 1%;
    padding-top: 0;
    margin-bottom: 20px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    word-wrap: break-word;
}

.card-comp:hover{
    cursor: pointer;
}