body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.new-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-weight: bold;
  color: #0000008c;
  text-align: center;
}

.cardsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardsRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
}


.joinProjectCard{
  border-radius: 20px;
  padding: 20px 20px;
  width: 38%;
  max-width: 400px;
  border: 4px solid #0076E2;
  margin-bottom: 20px;
  background-color: transparent;
  text-align: center;
}

.createProjectCard {
    border-radius: 20px;
    padding: 20px 20px;
    width: 38%;
    max-width: 400px;
    border: 4px solid #1DB035;
    margin-bottom: 20px;
    background-color: transparent;
    text-align: center;
}


.cardButtonJoin {
  width: 60%;
  height: auto;
  border: 3px solid transparent;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  background-color: #0076E2;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
}

.cardButtonJoin:hover {
  transition: 0.5s;
  border-color: #0076E2;
  background-color: transparent;
  color: #0076E2;
}

.cardButtonCreate {
    display: inline-flex;
    align-items: center;
    width: 60%;
    height: auto;
    border: 3px solid transparent;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    background-color: #1DB035;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
  }
  
  .cardButtonCreate:hover {
    transition: 0.5s;
    border-color: #1DB035;
    background-color: transparent;
    color: #1DB035;
  }


.joinProjectCard p,
.createProjectCard p {
  font-size: 18px;
  color: #0000008c;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}

.icon {
  font-size: 20px;
  margin-left: 10px;
  vertical-align: middle;
}

