.containerTasks {
  margin-left: 10%;
  display: block;
}

.containerGlobalSector{
  margin-left: 8%;
  display: grid;
  grid-template-columns: 24.9% 0.01% 24.5% 0.01% 24.5% 0.01% 24.5%;
}

.containerButton {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.ButtonDeleteSector {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 40px;
  margin-top: 20px;
  margin-right: 3px;
  background-color: transparent;
  color: #d50000;
  font-weight: bold;
  border: 2px solid #d50000;
  border-radius: 40px;
}

.ButtonDeleteSector:hover {
  transition: 1s;
  cursor: pointer;
  color: #640202;
  font-weight: bold;
  border: 2px solid #640202;
}

.sectionTasksProcess,
.sectionTasksChecking,
.sectionTasksFinished,
.sectionTasksPending {
  margin-top: 20px;
}

.sectionCardsTasks{  
  margin-left: 20px;
  margin-right: 20px;
}

.sectionTasksProcess:hover,
.sectionTasksFinished:hover,
.sectionTasksChecking:hover {
  cursor: pointer;
}

.division {
  width: 100%;
  margin: 10px 0;
}

.titleInSector {
  width: 20%;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

.ButtonCreateTask {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 40px;
  margin-top: 20px;
  margin-right: 3%;
  background-color: transparent;
  color: #0076e2;
  font-weight: bold;
  border: 2px solid #0076e2;
  border-radius: 40px;
}

.ButtonCreateTask:hover {
  transition: 1s;
  cursor: pointer;
  color: #03417a;
  font-weight: bold;
  border: 2px solid #03417a;
}

.cardProcess {
  width: 100%;
}

.subtitlesTasks {
  display: block;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

/* 
                                 <---------------- Tablet ---------------->
*/

@media only screen and (min-width: 541px) and (max-width: 768px) {
  .containerTasks {
    margin-left: 0%;
    display: block;
  }

  .containerGlobalSector {
    display: block;
    margin-left: 80px;
  }


  .containerButton {
    margin-top: 20px;
  }

  .sectionTasksProcess,
  .sectionTasksChecking,
  .sectionTasksFinished,
  .sectionTasksPending {
    width: 80%;
    margin: 10px 0;
  }

  .division {
    width: 100%;
  }

  .titleInSector {
    width: 100%;
    text-align: center;
  }

  .menuContainer {
    margin-left: 10%;
    align-items: center;
  }

  .titleInSector {
    width: 20%;
  }
  
  .ButtonCreateTask {
    width: 20%;
    margin-top: 10px;
  }

  .subtitlesTasks {
    text-align: center;
    margin: 10px 0;
  }

  .ButtonDeleteSector {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40px;
    margin-top: 20px;
    margin-right: 3px;

  }
}

/* 
                                 <---------------- Mobile ---------------->
*/

@media only screen and (max-width: 541px) {
  .containerTasks {
    margin-left: 0%;
    display: block;
  }

  .containerGlobalSector {
    display: block;
    margin-left: 80px;
  }

  .containerButton {
    margin-top: 20px;
  }

  .ButtonDeleteSector {
    width: 80%;
    margin-top: 10px;
  }

  .sectionTasksProcess,
  .sectionTasksChecking,
  .sectionTasksFinished,
  .sectionTasksPending {
    width: 80%;
    margin: 10px 0;
  }

  .division {
    width: 100%;
  }

  .titleInSector {
    width: 100%;
    text-align: center;
  }

  .menuContainer {
    margin-left: 18%;
    align-items: center;
  }

  .titleInSector {
    width: 20%;
  }
  
  .ButtonCreateTask {
    width: 30%;
    margin-top: 10px;
  }

  .subtitlesTasks {
    text-align: center;
    margin: 10px 0;
  }

  .ButtonDeleteSector {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40px;
    margin-top: 20px;
    margin-right: 3px;

  }
}
