.containerTasks {
  margin-left: 10%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 24.5% 0.5% 24.5% 0.5% 24.5% 0.5% 24.5%;
}

.containerButton {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.ButtonDeleteSector {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 40px;
  margin-top: 20px;
  margin-right: 3px;
  background-color: transparent;
  color: #d50000;
  font-weight: bold;
  border: 2px solid #d50000;
  border-radius: 40px;
}

.ButtonDeleteSector:hover {
  transition: 1s;
  cursor: pointer;
  color: #640202;
  font-weight: bold;
  border: 2px solid #640202;
}

.sectionTasksProcess {
  margin-top: 20px;
  margin-right: 50px;
}

.sectionTasksProcess:hover {
  cursor: pointer;
}

.sectionTasksFinished:hover {
  cursor: pointer;
}

.sectionTasksChecking {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.sectionTasksChecking:hover {
  cursor: pointer;
}

.sectionTasksFinished {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.sectionTasksPending {
  margin-top: 20px;
}

.division {
  width: 0.5px;
}

.titleInSector {
  width: 20%;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

.ButtonCreateTask {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 40px;
  margin-top: 20px;
  margin-right: 3%;
  background-color: transparent;
  color: #0076e2;
  font-weight: bold;
  border: 2px solid #0076e2;
  border-radius: 40px;
}

.ButtonCreateTask:hover {
  transition: 1s;
  cursor: pointer;
  color: #03417a;
  font-weight: bold;
  border: 2px solid #03417a;
}

.cardProcess {
  width: 100%;
}

.subtitlesTasks {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
