.inboxComingSoon {
  width: 500px;
  height: auto;
}

.InboxContainer{
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


@media only screen and (max-width: 541px) {
    .inboxComingSoon {
        width: 300px;
        height: auto;
      }
}